.dashboard h1 {
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 1px 1px 2px ;
  font-size: 70px;
  color: white;
  margin-top: 50px;
}

.dashboard {
  margin-bottom: 60px;
}

.dashboard .mesdevs h3 {
  margin-left: 50px;
  text-shadow: 0,5px 0,5px 0px;
}
.mesresa h3 {
  margin-left: 50px;
  text-shadow: 0,5px 0,5px 0px;
}

.dashboard h4 {
  font-size: 16px;
}

.dashboard img {
  border-radius: 50%;
  width:  100px;
  flex-direction: row;
  box-shadow: 0px 2px 1px #EAEAEA;
}

.dashboard .container {
  display: flex;
  justify-content: center;
}

.mesresa .container {
  display: flex;
  justify-content: center;
}

.mesdevs {
margin-top: 20px;
margin-bottom: 30px;
}

.mesresa {
  margin-top: 100px;
  margin-bottom: 40px;
}

.zoom {
  padding: 0px;
  background-color: #A9D4C1;
  transition: transform .2s; /* Animation */
  width: 100px;
  height: 100px;
  margin: 0px 1rem;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
