h1 {
  color: antiquewhite;

}
.new {
  background-color: #243038;
  padding: 50px;
}

.desimput {
  border: 2px;
  padding: 100px 100px;
  border-radius: 16px;
  background-color: green;

}

.btn {
  border-radius: 3px;
  border: 5px;
  color: #A9D4C1;
  background-color: #EDE4E0;
  pointer-events: none;
}

.fname {
  color: antiquewhite;
}

.square {
  border-radius: 16px;
}
