<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div>
      <span class="logo"><%= image_tag 'logo.svg' %></span>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
             <a class="nav-link" <%= link_to "Me connecter",  user_session_path(@user) %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Créer un compte", new_user_registration_path(@user) %></a>
          </li>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <h1>Laissez-vous accompagner dans vos projets.</h1>
    <p>Avec Tindev, des millions de Dev' à portée de clic qui n’attendent plus que de rencontrer quelqu’un comme vous.</p>
  </div>
  <div class= "search-block">
    <div class= "search-tab">
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
      </form>
    </div>
     <div class= "search-tab">
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
      </form>
    </div>
    <div class= "submit-search">
      <button type="button" class="btn-submit" data-toggle="button" aria-pressed="false" autocomplete="off">
      Trouver un dev
      </button>
    </div>
  </div>
