<div>
  <div class="container">
    <div class="autre">
      <h1 >Laissez-vous accompagner dans vos projets.</h1>
      <p>Avec Tindev, des millions de Dev' à portée de clic qui n’attendent plus que de rencontrer quelqu’un comme vous.</p>
    </div>

    <div class= "search-block">
      <div class= "search-tab">
        <%= form_with url: devs_path, method: :get do |form| %>
          <%= form.text_field :query, placeholder: "Search a competence", class: "border border-light p-1" %>
          <%= form.text_field :city, placeholder: "where ?", class: "border border-light p-1" %>
          <%= form.submit "Search", class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
  </div>
