.autre h1 {
  padding: 0;
  padding-top: 40vh;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: bold;
  margin-left: 58px;
}

.autre p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-left: 100px;
}
