.navbar-lewagon {
  justify-content: space-between;
  background-image: url("blacknavbar.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100vw;

  img {
    margin-bottom: 30px;
    padding-left: 24px;
    padding-top: 20px;
    height: 78px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
