.navbar-lewagon {
  justify-content: space-between;
  background-image: url("blacknavbar.svg");
  background-size: cover;
  width: 100vw;
  margin-top: -20px;

  img {
    margin-bottom: 30px;
    padding-left: 24px;
    padding-top: 20px;
    height: 78px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logoprofil {
  color: #56aa85;
  display: inline-block;
  width: 50px;

  &:hover {
    color: #84d5b2;
  }
  // font-size: 8px;
  // margin-top: -8px;
}
