.search-tab {
  margin-left: 25vw;
  margin-top: 44px;
}

.btn {

  background-color: #56aa85;
  border-radius: 5px;

  .btn-submit:hover {
    background-color: #30976A
  }
}

.disco {
  margin-left: 650px;
  margin-top: 0px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}
