#search_query {
  width: 368px;
  margin-left: 190px;
  margin-top: 14px;
}

.search-block {
  margin-left: 103px;
  margin-top: 32px;
}

.btn-submit {
  margin-left: 426px;
  margin-top: 16px;
  background-color: #56aa85;
  border-radius: 5px;

  .btn-submit:hover {
    background-color: #30976A
  }
}
